<!-- Web.Config Configuration File -->
<configuration>
    <system.web>
        <customErrors mode="On"/>
    </system.web>
	<system.webServer>
		<httpCompression
			dynamicCompressionEnableCpuUsage="40"
			dynamicCompressionDisableCpuUsage="80" 
			directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9"/>
			<staticTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="application/x-javascript" enabled="true" />
				<add mimeType="application/atom+xml" enabled="true" />
				<add mimeType="application/xaml+xml" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</staticTypes>
			<dynamicTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="application/x-javascript" enabled="true" />
				<add mimeType="application/json" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</dynamicTypes>
		</httpCompression>
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
		<caching enabled="true" enableKernelCache="true" />
		<rewrite>
			<rules>
			<rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
			<match url="(.*)" /> 
			<conditions> 
				<add input="{HTTPS}" pattern="off" ignoreCase="true" />
			</conditions> 
			<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
		</rule>   
			</rules>
		</rewrite>
	</system.webServer>
</configuration>